.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.first_of_span {
  animation: appear 3s linear 1;
  animation-fill-mode: backwards;
}

.wrapper h2 {
  color: #802bb1;
  font-size: 3rem;
  animation: appear 3s linear 1 0.5s;
  animation-fill-mode: backwards;
}

.last_of_span {
  animation: appear 3s linear 1 1s;
  animation-fill-mode: backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.primary {
  padding: 0.3em 1.5em;
  display: block;
  width: 100%;
  font-size: 1.5rem;
  color: var(--orange-burnt);
  border-radius: 0.2em;
  text-transform: lowercase;
  font-weight: lighter;
  border: 0.1em solid var(--orange-burnt);
  background-color: transparent;
  margin-top: 1.5em;
  animation: appear 3s linear 1 1.5s;
  animation-fill-mode: backwards;
  transition: all 0.5s linear;
  box-shadow: 0.1em 0.3em var(--orange-vivid);
}

.primary:hover {
  color: var(--grey-cascade);
  border: 0.1em solid #d1d7e0;
  border-radius: 1em;
  background-color: var(--orange-burnt);
}

@media (min-width: 768px) {
  .first_of_span {
    font-size: 1.1rem;
    font-weight: lighter;
    letter-spacing: 0.03em;
  }

  .last_of_span {
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 0.3em;
    letter-spacing: 0.03em;
  }

  .wrapper h2 {
    line-height: 0.3em;
    letter-spacing: 0.03em;
  }

  .primary {
    padding: 0.3em 1.5em;
    display: block;
    width: 40%;
    font-size: 0.9rem;
  }
}
